{% extends "base_bootstrap_nav_splash.html" %}

{% block content %}
{% if not user.is_authenticated %}
<div class="container m-2 p-2">
    <h3 class="display-3">Rack and Stack - the data platform for Assessment and Selection.</br>
        <small class="display-6 text-muted">Designed to save time, money and headaches.</small></h3>
    
</br>
    <p class="lead">
        Current capabilities: 
        <ul class="lead">
            <li>Create Curriculum and Grading Criteria</li>
            <li>Manage student enrollments and class/block assignments</li>
            <li>Record grades and comments</li>
            <li>Create and administer surveys with six different survey question formats</li>
            <li>Export all data directly to CSV format - no vendor-locked file formats.</li>
        </ul>        
    </p>
</div>
<div class="container m-2 p-2">
    <p class="lead">
        Benefits:
        <ul class="lead">
            <li>Free, open-source, and fully auditable. No contracts required.</li>
            <li>Designed for <em>simplicity</em> and <em>utility</em> - not overcomplicated with flashy programming or inflexible visuals.</li>
            <li>No need to scrape a webpage or beg a vendor for your data - it's yours, just click "Export".</li>
            <li>Homegrown solution for a real-world problem.</li>
        </ul>
    </p>
</div>
<div class="container m-2 p-2">
    <p class="text-center fs-6">
        <small>Suggestions and feedback welcome at pantsocksboots@protonmail.com</small>
        <small>Check out the <a href="https://github.com/pantsocksboots/rackandstack">Github</a> to contribute or learn more.</small>
    </p>
</div>
{% endif %}
{% if user_is_student or user_is_course_admin %}
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary" href="{% url "surveys:survey_list" %}">Surveys</a>
    {% if user_is_course_admin %}
    <a class="btn btn-outline-primary" href="{% url "surveys:survey_review_menu" %}">Survey Review</a>
    {% endif %}
    {% if user_is_student %}
    <a class="btn btn-outline-primary" href="{% url "stucon:upload_image" %}">Upload a Picture</a>
    {% endif %}
</div>
</br>
{% endif %}

{% if user_is_course_admin %}
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary" href="{% url "rubric:evolution_list" %}">Evolutions</a>
    <a class="btn btn-outline-primary" href="{% url "stucon:student_list" %}">Students</a>
</div>

</br>
{% endif %}

{% if user_is_grader or user_is_course_admin %}
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-outline-primary" href="{% url "gradebook:gradebook_menu" %}">Gradebook</a>
</div>

</br>

{% endif %}

{% if user_is_course_admin %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col text-left">
            <h4>Stats</h4>
            <ul class="list-unstyled">
                <li>Students Enrolled: {{ num_students }} </li>
                <li>Evolutions: {{ num_evos }} </li>
                <li>Scores Recorded: {{ num_scores }} </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}
