{% extends "base_bootstrap_nav.html" %}

{% block content %}
{% load crispy_forms_tags %}

    <p>
        <form action="" method="post">
            {% csrf_token %}
            {{ pw_change_form|crispy }}
          </br>
            <input class="btn btn-outline-primary" type="submit" value="Submit">
            <input class="btn btn-outline-warning" type="submit" value="Cancel" onclick="window.location.href='{% url 'home:home_page' %}';return false;">
          </form>
    </p>
{% endblock %}